#include <winver.h>
#include <winnt.h>
#include <winuser.h>
#include <dlgs.h>
#include "winjmenu.h"
#define IDC_STATIC	(-1)

vim       ICON      "vim.ico"

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT
#pragma code_page(932)

VS_VERSION_INFO		VERSIONINFO
	FILEVERSION		2,1,2,0
	PRODUCTVERSION	2,1,2,0
	FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
	FILEFLAGS		0L
	FILEOS          VOS__WINDOWS32
	FILETYPE        VFT_APP
	FILESUBTYPE     VFT2_UNKNOWN
BEGIN
	BLOCK	"StringFileInfo"
	BEGIN
		BLOCK	"041104B0"
		BEGIN
			VALUE "Comments",			"JVim 3.0-j2.1b"
			VALUE "CompanyName",		"B.Moolenaar / K.Tsuchida"
			VALUE "FileVersion",        "2.1.2.0"
			VALUE "FileDescription",    "Vi IMproved 3.0 / JVim 3.0-j2.1b"
			VALUE "ProductName",        "ken_t@st.rim.or.jp (Ken'ichi Tsuchida)"
			VALUE "ProductVersion",     "2.1.2.0"
			VALUE "InternalName",       "JVim"
			VALUE "OriginalFilename",   "Vim"
			VALUE "LegalCopyright",     "Bram Moolenaar / Ken'ichi Tsuchida"
			VALUE "LegalTrademarks",	"\0"
		END
	END
	BLOCK	"VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0411, 0x04b0
	END
END

ACCKEYS ACCELERATORS
{
#if 0
	VK_F1,		IDM_HELP,			VIRTKEY
#endif
	VK_F4,		IDM_EXIT,			VIRTKEY, ALT
#ifdef USE_BDF
	VK_F10,		IDM_BDFONOFF,		VIRTKEY, ALT
#endif
	VK_F11,		IDM_WAVEONOFF,		VIRTKEY, ALT
	VK_F12,		IDM_BITMAPONOFF,	VIRTKEY, ALT
	VK_PRIOR,	IDM_BITMAPUP,		VIRTKEY, ALT
	VK_NEXT,	IDM_BITMAPDOWN,		VIRTKEY, ALT
	VK_RIGHT,	IDM_BITSIZEDOWN,	VIRTKEY, ALT
	VK_LEFT,	IDM_BITSIZEUP,		VIRTKEY, ALT
	VK_UP,		IDM_TRANSUP,		VIRTKEY, ALT
	VK_DOWN,	IDM_TRANSDOWN,		VIRTKEY, ALT
	"0",		IDM_CONF0,			ALT
	"1",		IDM_CONF1,			ALT
	"2",		IDM_CONF2,			ALT
	"3",		IDM_CONF3,			ALT
	"4",		IDM_CONF4,			ALT
	"5",		IDM_CONF5,			ALT
	"6",		IDM_CONF6,			ALT
	"7",		IDM_CONF7,			ALT
	"8",		IDM_CONF8,			ALT
	"9",		IDM_CONF9,			ALT
	"a",		IDM_VER2,			ALT
	"c",		IDM_YANK,			ALT
	"k",		IDM_VER,			ALT
	"m",		IDM_MENU,			ALT
	"n",		IDM_NEW,			ALT
	"o",		IDM_FILE,			ALT
	"p",		IDM_PRINT,			ALT
	"r",		IDM_CLICK,			ALT
	"s",		IDM_SBAR,			ALT
	"v",		IDM_PASTE,			ALT
	"x",		IDM_DELETE,			ALT
	"E",		IDM_EXTEND,			ALT
}

VIMMENU MENU
{
	POPUP	"&File"
	{
		MENUITEM	"&New Window\tAlt+N",	IDM_NEW
		MENUITEM	"&Open File\tAlt+O",	IDM_FILE
		MENUITEM	"&Save File",			IDM_SFILE
		MENUITEM	"Save &As...",			IDM_AFILE
		MENUITEM	"&Run",					IDM_CLICK
		MENUITEM	"&Print\tAlt+P",		IDM_PRINT
		MENUITEM	"E&xit\tAlt+F4",		IDM_EXIT
	}
	POPUP	"&Edit"
	{
		MENUITEM	"&Delete\tAlt+X",		IDM_DELETE
		MENUITEM	"&Yank\tAlt+C",			IDM_YANK
		MENUITEM	"&Paste\tAlt+V",		IDM_PASTE
	}
	POPUP	"G&lobal"
	{
		MENUITEM	"&Scrollbar\tAlt+S",	IDM_SBAR
		MENUITEM	"&Unicode Font",		IDM_UNICODE
		MENUITEM	"&Task Tray",			IDM_TRAY
		MENUITEM	"One &Window",			IDM_ONEWIN
		MENUITEM	"&Erase Mouse",			IDM_MOUSE
#ifdef NT106KEY
		MENUITEM	"&ZEN/HAN to ESC",		IDM_NT106
#endif
#ifdef USE_SHARE_CHECK
		POPUP	"Share &Files"
		{
			MENUITEM	"&Share Files",			IDM_SHARE
			MENUITEM	"&MS Compatible",		IDM_COMMON
		}
#endif
		MENUITEM	"Fade&out",				IDM_FADEOUT
		MENUITEM	"&Grep Window",			IDM_GREPWIN
#ifdef USE_HISTORY
		POPUP	"&History"
		{
			MENUITEM	"&History",				IDM_HISTORY
			MENUITEM	"&Auto History",		IDM_HAUTO
		}
#endif
		MENUITEM	"&Print Command",		IDM_PRINTSET
	}
	POPUP	"Set&up"
	{
		MENUITEM	"&Font",				IDM_FONT
#ifdef USE_BDF
		MENUITEM	"B&DF Font",			IDM_BDF
#endif
		MENUITEM	"&Line Space",			IDM_LSPACE
		POPUP	"&Text Color"
		{
			MENUITEM	"&White",				IDM_FWHITE
			MENUITEM	"&Black",				IDM_FBLACK
			MENUITEM	"&NavyBlue",			IDM_FBLUE
			MENUITEM	"&Choice",				IDM_FCOLOR
		}
		POPUP	"Back &Color"
		{
			MENUITEM	"&White",				IDM_BWHITE
			MENUITEM	"&Black",				IDM_BBLACK
			MENUITEM	"&Choice",				IDM_BCOLOR
		}
		MENUITEM	"&Bitmap File",			IDM_BITMAP
		MENUITEM	"&Wave File",			IDM_WAVE
		MENUITEM	"&Save Window Position",IDM_SAVE
	}
	POPUP	"Confi&g"
	{
		MENUITEM	"&Save Config",			IDM_CONFS
		MENUITEM	"Default(&0)\tAlt+0",	IDM_CONF0
		MENUITEM	"Config (&1)\tAlt+1",	IDM_CONF1
		MENUITEM	"Config (&2)\tAlt+2",	IDM_CONF2
		MENUITEM	"Config (&3)\tAlt+3",	IDM_CONF3
	}
#ifdef USE_HISTORY
	POPUP	"H&istory"
	{
		MENUITEM	"&Save History    Alt+H",	IDM_HSAVE
	}
#endif
	MENUITEM	"P&rev File",			IDM_PFILE
	MENUITEM	"&Next File",			IDM_NFILE
	MENUITEM	"&Help",				IDM_HELP
}

LOGIN DIALOG DISCARDABLE  0, 0, 123, 68
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_CENTER | WS_POPUP | 
    WS_VISIBLE | WS_CAPTION
CAPTION "LOGIN"
FONT 10, "Terminal"
BEGIN
    EDITTEXT        1000,47,3,68,13,ES_AUTOHSCROLL
    EDITTEXT        1001,47,19,68,13,ES_PASSWORD | ES_AUTOHSCROLL
    CONTROL         "config",1004,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,106,
                    35,10,10
    DEFPUSHBUTTON   "OK",IDOK,8,50,50,14
    PUSHBUTTON      "CANCEL",IDCANCEL,65,50,50,14
    LTEXT           "USER:",IDC_STATIC,5,5,40,10
    LTEXT           "PASSWORD:",IDC_STATIC,5,21,40,10
    LTEXT           "PROXY",IDC_STATIC,80,36,20,10
END

PRINTER DIALOG DISCARDABLE  0, 0, 187, 57
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_CENTER | WS_POPUP | 
    WS_VISIBLE | WS_CAPTION
CAPTION "Printout Command Setup"
FONT 10, "Terminal"
BEGIN
    EDITTEXT        1000,14,21,126,12,ES_AUTOHSCROLL
    PUSHBUTTON      "&Reference",1001,144,21,40,12
    LTEXT           "Printout Command",-1,14,7,71,9
    DEFPUSHBUTTON   "OK",IDOK,31,37,50,14
    PUSHBUTTON      "CANCEL",IDCANCEL,102,37,50,14
END

BITMAPSEL DIALOG DISCARDABLE  0, 0, 187, 57
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_CENTER | WS_POPUP | 
    WS_VISIBLE | WS_CAPTION
CAPTION "Bitmap File Select"
FONT 10, "Terminal"
BEGIN
    EDITTEXT        1000,14,19,126,12,ES_AUTOHSCROLL
    PUSHBUTTON      "&Reference",1001,144,19,40,12
    LTEXT           "Bitmap File     ",IDC_STATIC,14,4,40,9
    DEFPUSHBUTTON   "OK",IDOK,15,39,50,14
    PUSHBUTTON      "CANCEL",IDCANCEL,72,39,50,14
    EDITTEXT        1002,128,39,28,12,ES_NUMBER
    LTEXT           "USE",IDC_STATIC,156,41,15,10
    CONTROL         "&USE",1003,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,175,41,
                    6,7
    LTEXT           "Center",IDC_STATIC,146,4,25,10
    CONTROL         "&C",1004,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,175,7,6,7
END

WAVE DIALOG DISCARDABLE  0, 0, 187, 57
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_CENTER | WS_POPUP | 
    WS_VISIBLE | WS_CAPTION
CAPTION "Wave File Select"
FONT 10, "Terminal"
BEGIN
    EDITTEXT        1000,14,21,126,12,ES_AUTOHSCROLL
    PUSHBUTTON      "&Reference",1001,144,21,40,12
    LTEXT           "Wave Sound File ",IDC_STATIC,14,7,71,9
    DEFPUSHBUTTON   "OK",IDOK,22,39,50,14
    PUSHBUTTON      "CANCEL",IDCANCEL,84,39,50,14
    CONTROL         "&USE",1003,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,172,41,
                    6,8
    LTEXT           "USE",IDC_STATIC,152,42,15,10
END

JFONT DIALOG DISCARDABLE  0, 0, 203, 63
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_CENTER | WS_POPUP | 
    WS_VISIBLE | WS_CAPTION
CAPTION "FONT Setup"
FONT 10, "Terminal"
BEGIN
    LTEXT           "ASCII",IDC_STATIC,14,6,20,9
    DEFPUSHBUTTON   "OK",IDOK,23,41,65,14
    PUSHBUTTON      "CANCEL",IDCANCEL,110,41,65,14
    EDITTEXT        2000,61,6,81,12,ES_AUTOHSCROLL | ES_READONLY | NOT 
                    WS_BORDER | NOT WS_TABSTOP
    PUSHBUTTON      "&Reference",1001,150,3,40,12
    LTEXT           "Japanese",IDC_STATIC,14,24,36,9
    EDITTEXT        4000,61,24,81,12,ES_AUTOHSCROLL | ES_READONLY | NOT 
                    WS_BORDER | NOT WS_TABSTOP
    PUSHBUTTON      "R&eference",3001,150,21,40,12
END

BDF DIALOGEX 0, 0, 187, 83
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_CENTER | WS_POPUP | 
    WS_VISIBLE | WS_CAPTION
CAPTION "BDF FONT Setup"
FONT 10, "Terminal"
BEGIN
    LTEXT           "ASCII",IDC_STATIC,14,7,20,9
    EDITTEXT        2000,55,5,81,12,ES_AUTOHSCROLL | ES_READONLY | NOT 
                    WS_BORDER | NOT WS_TABSTOP
    EDITTEXT        2001,142,5,12,12,ES_READONLY | NOT WS_BORDER | NOT 
                    WS_TABSTOP,WS_EX_RIGHT
    LTEXT           "X",IDC_STATIC,156,6,8,8
    EDITTEXT        2002,164,5,11,12,ES_AUTOHSCROLL | ES_READONLY | NOT 
                    WS_BORDER | NOT WS_TABSTOP
    LTEXT           "pt",IDC_STATIC,177,6,9,10
    EDITTEXT        1000,14,21,126,12,ES_AUTOHSCROLL
    PUSHBUTTON      "&Reference",1001,144,21,40,12
    LTEXT           "Japanese",IDC_STATIC,14,37,36,9
    EDITTEXT        4000,55,37,81,12,ES_AUTOHSCROLL | ES_READONLY | NOT 
                    WS_BORDER | NOT WS_TABSTOP
    EDITTEXT        4001,142,37,12,12,ES_READONLY | NOT WS_BORDER | NOT 
                    WS_TABSTOP,WS_EX_RIGHT
    LTEXT           "X",IDC_STATIC,156,38,8,8
    EDITTEXT        4002,164,37,11,12,ES_AUTOHSCROLL | ES_READONLY | NOT 
                    WS_BORDER | NOT WS_TABSTOP
    LTEXT           "pt",IDC_STATIC,177,40,9,10
    EDITTEXT        3000,14,51,126,12,ES_AUTOHSCROLL
    PUSHBUTTON      "R&eference",3001,144,53,40,12
    DEFPUSHBUTTON   "OK",IDOK,15,65,50,14
    PUSHBUTTON      "CANCEL",IDCANCEL,75,65,50,14
    LTEXT           "USE",IDC_STATIC,145,68,15,8
    CONTROL         "&USE",1002,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,164,66,
                    10,10
END

LOAD DIALOG DISCARDABLE  0, 0, 100, 25
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_CENTER | WS_POPUP | 
    WS_VISIBLE | WS_CAPTION
CAPTION "Loading ...."
BEGIN
    LTEXT           "Loading .ini file...",-1,14,7,71,9
END

TERM DIALOG DISCARDABLE  0, 0, 100, 25
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_CENTER | WS_POPUP | 
    WS_VISIBLE | WS_CAPTION
CAPTION "Terminate ...."
BEGIN
    LTEXT           "Terminate JVim ...",-1,14,7,71,9
END

COMMAND DIALOG DISCARDABLE  0, 0, 187, 93
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_CENTER | WS_POPUP | 
    WS_VISIBLE | WS_CAPTION
CAPTION "COMMAND"
FONT 10, "Terminal"
BEGIN
    EDITTEXT        1001,15,16,155,14,ES_AUTOHSCROLL
    EDITTEXT        1002,14,47,155,14,ES_AUTOHSCROLL
    LTEXT           "Load Command",IDC_STATIC,14,3,70,11
    LTEXT           "Unload Command",IDC_STATIC,14,35,70,11
    DEFPUSHBUTTON   "OK",IDOK,19,71,64,13
    PUSHBUTTON      "CANCEL",IDCANCEL,98,71,64,13
END

WAVEFILEOPENDIALOG DIALOG DISCARDABLE  36, 24, 264, 134
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Wave File Selection"
FONT 10, "Terminal"
BEGIN
    LTEXT           "File &Name:",stc3,6,6,76,9
    EDITTEXT        edt1,6,16,90,12,ES_AUTOHSCROLL | ES_OEMCONVERT
    LISTBOX         lst1,6,32,90,68,LBS_SORT | LBS_OWNERDRAWFIXED | 
                    LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "&Directories:",-1,110,6,92,9
    LTEXT           "",stc1,110,18,92,9,SS_NOPREFIX
    LISTBOX         lst2,110,32,92,68,LBS_SORT | LBS_OWNERDRAWFIXED | 
                    LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "List Files of &Type:",stc2,6,104,90,9
    COMBOBOX        cmb1,6,114,90,36,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | 
                    WS_BORDER | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Dri&ves:",stc4,110,104,92,9
    COMBOBOX        cmb2,110,114,92,68,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | 
                    CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | 
                    WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK",IDOK,208,6,50,14,WS_GROUP
    PUSHBUTTON      "Cancel",IDCANCEL,208,24,50,14,WS_GROUP
    PUSHBUTTON      "&Test",1013,208,42,50,14,WS_GROUP
    CONTROL         "&Read Only",chx1,"Button",BS_AUTOCHECKBOX | NOT 
                    WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP,211,172,
                    50,12
END

BITMAPOPENDIALOG DIALOG DISCARDABLE  36, 24, 264, 134
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Bitmap File Selection"
FONT 10, "Terminal"
BEGIN
    LTEXT           "File &Name:",stc3,6,6,76,9
    EDITTEXT        edt1,6,16,90,12,ES_AUTOHSCROLL | ES_OEMCONVERT
    LISTBOX         lst1,6,32,90,68,LBS_SORT | LBS_OWNERDRAWFIXED | 
                    LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "&Directories:",-1,110,6,92,9
    LTEXT           "",stc1,110,18,92,9,SS_NOPREFIX
    LISTBOX         lst2,110,32,92,68,LBS_SORT | LBS_OWNERDRAWFIXED | 
                    LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_VSCROLL | 
                    WS_TABSTOP
    LTEXT           "List Files of &Type:",stc2,6,104,90,9
    COMBOBOX        cmb1,6,114,90,36,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | 
                    WS_BORDER | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Dri&ves:",stc4,110,104,92,9
    COMBOBOX        cmb2,110,114,92,68,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | 
                    CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | 
                    WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK",IDOK,208,6,50,14,WS_GROUP
    PUSHBUTTON      "Cancel",IDCANCEL,208,24,50,14,WS_GROUP
    PUSHBUTTON      "Dis&play",1013,208,42,50,14,WS_GROUP
    CONTROL         "&Read Only",chx1,"Button",BS_AUTOCHECKBOX | NOT 
                    WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP,211,172,
                    50,12
    CONTROL         "",1010,"Static",SS_BLACKFRAME,208,75,50,40
END

WAVEDLGEXP DIALOG DISCARDABLE  0, 0, 295, 58
STYLE DS_3DLOOK | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | 
    WS_CAPTION
CAPTION "Wave File Selection"
FONT 10, "Terminal"
BEGIN
    LTEXT           "",stc32,4,2,287,37
    PUSHBUTTON      "&Test",1013,3,42,65,14,WS_GROUP
END

BITMAPDLGEXP DIALOG DISCARDABLE  0, 0, 280, 90
STYLE DS_3DLOOK | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | 
    WS_CAPTION
CAPTION "Bitmap File Selection"
FONT 10, "Terminal"
BEGIN
    LTEXT           "",stc32,4,2,272,38
    CONTROL         "",1010,"Static",SS_BLACKFRAME,4,44,70,44
END

BDFDLGEXP DIALOG DISCARDABLE  0, 0, 280, 70
STYLE DS_3DLOOK | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | 
    WS_CAPTION
CAPTION "BDF Font Selection"
FONT 10, "Terminal"
BEGIN
    LTEXT           "",stc32,0,0,280,40
    LTEXT           "",1010,5,47,270,20,NOT WS_GROUP
END

LINESPACE DIALOG DISCARDABLE  0, 0, 152, 42
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_CENTER | WS_POPUP | 
    WS_VISIBLE | WS_CAPTION
CAPTION "Char/Line Space Select"
FONT 10, "Terminal"
BEGIN
    LTEXT           "Char",IDC_STATIC,7,7,22,11
    EDITTEXT        1001,29,4,40,14,ES_NUMBER
    LTEXT           "Line",IDC_STATIC,80,7,22,11
    EDITTEXT        1002,103,4,40,14,ES_NUMBER
    DEFPUSHBUTTON   "OK",IDOK,58,24,40,14
    PUSHBUTTON      "CANCEL",IDCANCEL,105,24,40,14
END

LINESPACEEX DIALOG DISCARDABLE  0, 0, 225, 42
STYLE DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_CENTER | WS_POPUP | 
    WS_VISIBLE | WS_CAPTION
CAPTION "Char/Line Space Select"
FONT 10, "Terminal"
BEGIN
    LTEXT           "Char",IDC_STATIC,7,7,22,11
    EDITTEXT        1001,29,4,40,14,ES_NUMBER
    LTEXT           "Line",IDC_STATIC,80,7,22,11
    EDITTEXT        1002,103,4,40,14,ES_NUMBER
    LTEXT           "Blend",IDC_STATIC,153,7,22,11
    EDITTEXT        1003,177,4,40,14,ES_NUMBER
    DEFPUSHBUTTON   "OK",IDOK,58,24,40,14
    PUSHBUTTON      "CANCEL",IDCANCEL,105,24,40,14
END

//BuildVer:	23
